------------------/* fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Encode+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

------------------/* background colours */


------------------/* colours */

#3D3232



header {
    margin: 0;
}

.logo {
    font-family: Bangers, sans-serif;
    font-size: 46px;
    display: inline-block;
    text-decoration: none;
    color: #3D3232;
    padding-left: 25px; 
    padding-top: -5px;
}

.logo:hover {
    text-decoration: none;
    color: #3D3232;
}